/public/sgi.js
/public/via.js
/public/inv.js
/public/dir.js
/public/calidad.js
/node_modules
/public/hot
/public/img
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/log
/test
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/css/plantilla.css
public/mix-manifest.json
public/rh.js
public/trafico.js
public/alm.js
public/aplicacion.js
public/compras.js
public/herramientas.js
public/proyecto.js
public/sistema.js
public/cos.js
public/subirarchivos.js
package-lock.json
public/js/app.js
public/ti.js
public/contabilidad.js
public/conta.js
public/venta.js
public/contra.js
public/via.js
public/img/
public/opera.js
public/via.js
public/vendors~conta.js
public/vendors~cos.js
public/inv.js
public/seg.js
public/sgi.js
public/js/plantilla.js
public/FilesFTP
